.container-footer-bottom {
  margin: 0 auto;
  max-width: 1400px;
  border-top: 1px solid #777;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 3.2rem;
}

.justify-vertical {
  display: flex;
  align-items: center;
}

.devBy {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
